<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

			<title>Contact details received</title>
</head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQYGWP8//8/AyHAREgBIyOjMQPIJFwYaIAxSI6RbOvAViC7A90qmBXI4qRZh2EFunXYrEC2DgDc+VH0jS2AGAAAAABJRU5ErkJggg==);">
		<center style="padding: 70px 0 0 0;">
				<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
						<tr>
								<td align="center" valign="top">

									
											<!-- // End Template Preheader \\ -->
										<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="-webkit-box-shadow:0 0 0 3px rgba(0,0,0,0.025); -webkit-border-radius:6px;background-color:#fdfdfd;">
												<tr>
														<td align="center" valign="top">
																	<!-- // Begin Template Header \\ -->
																<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color:#557da1; -webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px; color:#ffffff; font-family:Arial; font-weight:bold; line-height:100%; vertical-align:middle;">

																			<tr>
																					<td class="headerContent" style="padding:24px; ">

																						<!-- // Begin Module: Standard Header Image \\ -->
																						<h1 class="h1" style="color:#ffffff !important; margin:0; text-shadow:0 1px 0 #7797b4;">Ny kundförfrågan</h1>
																						<!-- // End Module: Standard Header Image \\ -->

																					</td>
																			</tr>
																	</table>
																	<!-- // End Template Header \\ -->
															</td>
													</tr>
												<tr>
														<td align="center" valign="top">
																	<!-- // Begin Template Body \\ -->
																<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
																		<tr>
																					<td valign="top" class="bodyContent" style="background-color:#fdfdfd;">

																							<!-- // Begin Module: Standard Content \\ -->
																							<table border="0" cellpadding="20" cellspacing="0" width="100%">
																									<tr>
																											<td valign="top">
																													<div>

<h3>Kundens uppgifter</h3>

<p><strong>Namn: </strong></p><p><%= data["name"]||"Not specified" %></p>
<p><strong>Tfn: </strong></p><p><%= data["phone"]||"Not specified" %></p>
<p><strong>Noteringar: </strong></p><p><%= data["details"]||"Not specified" %></p>

														</div>
													</td>
																									</tr>
																							</table>
																							<!-- // End Module: Standard Content \\ -->
																					</td>
																			</tr>
																	</table>
																	<!-- // End Template Body \\ -->
															</td>
													</tr>
												<tr>
														<td align="center" valign="top">
																	<!-- // Begin Template Footer \\ -->
																<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
																		<tr>
																				<td valign="top" class="footerContent">
																							<table border="0" cellpadding="10" cellspacing="0" width="100%">
																									<tr>
																											<td colspan="2" valign="middle" id="credit" style="border:0; color:#969696; font-family:Arial; font-size:12px; line-height:125%; text-align:center;">
																												<p><%= data["footer"]||""%></p>
																											</td>
																									</tr>

																							</table>
																					</td>
																			</tr>
																	</table>
																	<!-- // End Template Footer \\ -->
															</td>
													</tr>
											</table>
											<br />
									</td>
							</tr>
					</table>
			</center>
	</body>
</html>
